<h1>Welcome to Rate That Restaurant!!</h1>

<!-- img -->

<!-- Link: Create a new Review -->
<!-- Link: View all Restaurant Reviews -->
<!-- Link: View and Edit your Published Reviews -->
<!-- Link: Logout -->
