
<h1>Restaurants</h1>
<a href="#" onclick="getRestaurants();"> View All Restaurants</a> | <a href="#" onclick="displayCreateForm();"> Add A New Restaurant</a>

<div id="restaurant-form"></div>
<div id="main">
</div>





<!-- Restaurants-->
<!--create a new restaurant review right button | See Restaurants button-->
<!-- line break -->
<!--loop through restaurant details using ajax -->
<!-- each restuarant has a <button> hook to 'See Restaurant's Reviews' -->

<!-- -->
<!-- -->
